<h3>Create an Account</h3>
<form (ngSubmit)="onSubmit()" [formGroup]="authForm" class="ui form">
    <!-- <div class="field">
        <label>Username</label>
        <input formControlName="username">
        {{authForm.get('username')?.errors | json}}
    </div> -->
    <app-input inputType="text" label="Username" [control]="$any(authForm.get('username'))"></app-input>
    <app-input inputType="password" label="Password" [control]="$any(authForm.get('password'))"></app-input>
    <app-input inputType="password" label="Password Confirmation" [control]="$any(authForm.get('passwordConfirmation'))"></app-input>
    
    <div class="ui red basic label" *ngIf="authForm.get('password').touched && authForm.get('passwordConfirmation') && authForm.errors">
        <p *ngIf="authForm.errors['passwordDontMatch']">
            Password Does Not Match
        </p>
    </div>
    <div>
        <button class="ui submit button primary">Submit</button>
    </div>
    {{authForm.errors | json}}
</form>